# Default ignored files
.env
.idea/shelf/
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests/
# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml
src/__pycache__
src/dbHelper/__pycache__
src/fnHelper/__pycache__
src/windows/__pycache__
src/windows/ui/__pycache__
*.pyc
venv
build
dist